[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group github/openbmc/qualcomm-misc-maintainers
	forgeCommitter = group github/openbmc/qualcomm-misc-maintainers
	push = group github/openbmc/qualcomm-misc-maintainers
	label-Code-Review = -2..+2 group github/openbmc/qualcomm-misc-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/qualcomm-misc-maintainers
	label-Verified = -1..+1 group github/openbmc/qualcomm-misc-maintainers
	submit = group github/openbmc/qualcomm-misc-maintainers
	editTopicName = group github/openbmc/qualcomm-misc-maintainers
[access "refs/tags/*"]
	push = +force group github/openbmc/qualcomm-misc-maintainers
	pushTag = group github/openbmc/qualcomm-misc-maintainers
	pushSignedTag = group github/openbmc/qualcomm-misc-maintainers
